<p-progressBar *ngIf="loading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
<p-dataView #dv [value]="meetings" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="Description"
    [sortField]="sortField" [sortOrder]="sortOrder">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="p-grid p-justify-between">
                <div class="p-col-12 p-md-6 p-lg-4 p-col-align-center">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [autoWidth]="false" [style]="{'min-width':'15em'}"></p-dropdown>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3 p-col-align-center" >
                    <button pButton type="button" label="Create meeting" icon="pi pi-plus" class="ui-button-success"></button>
                </div>
                <div class="p-col-12 p-md-6 p-lg-3 filter-container p-col-align-center">
                    <div style="position:relative">
                        <input type="search" pInputText placeholder="Search by description" (keyup)="dv.filter($event.target.value)">
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-2 p-col-align-center" style="text-align:right;padding:0;">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </div>
        </div>
    </p-header>
    <ng-template let-meeting pTemplate="listItem">
        <div class="p-grid" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="p-col-12 p-md-6 p-lg-3">
                <img [src]="meeting.OwnerPicture ? meeting.OwnerPicture:'assets/images/placehoder-image.png'" class="profile-img">
            </div>
            <div class="p-col-12 p-md-6 p-lg-8 p-col-align-center">
                <div class="p-grid p-dir-col">
                    <div class="p-grid">
                        <div class="p-col-fixed" style="width: 170px">Description:</div>
                        <div class="p-col">
                            <b>{{meeting.Description}}</b>
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-col-fixed" style="width: 170px">Location:</div>
                        <div class="p-col">
                            <b>{{meeting.Location}}</b>
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-col-fixed" style="width: 170px">Capacity:</div>
                        <div class="p-col">
                            <b>{{meeting.Capacity}}</b>
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-col-fixed" style="width: 170px">StartsAt:</div>
                        <div class="p-col">
                                <b>{{meeting.StartsAt | date:'MMM d. y. h:mm'}}</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-1 search-icon" style="text-align:center;">
                <button pButton type="button" icon="pi pi-search" (click)="selectMeeting($event, meeting)"></button>
            </div>
        </div>
    </ng-template>
    <ng-template let-meeting pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-3">
            <p-panel [header]="meeting.description" [style]="{'text-align':'center'}">
                <img [src]="meeting.OwnerPicture ? meeting.OwnerPicture:'assets/images/placehoder-image.png'" width="60" class="profile-img">
                <div class="car-detail">{{meeting.Location}} - {{meeting.StartsAt | date:'MMM d. y. h:mm'}}</div>
                <hr class="ui-widget-content" style="border-top:0">
                <button pButton type="button" icon="pi pi-search" (click)="selectMeeting($event, meeting)" style="margin-top:0"></button>
            </p-panel>
        </div>
    </ng-template>
</p-dataView>

<p-dialog header="Meeting details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
  width="500" (onAfterHide)="onDialogHide()">
  <div class="ui-g" *ngIf="selectedMeeting">
    <div class="ui-g-12" style="text-align:center">
      <img [src]="selectedMeeting.OwnerPicture ? selectedMeeting.OwnerPicture:'assets/images/placehoder-image.png'"
        class="profile-img">
    </div>
    <div class="ui-g-4">Description: </div>
    <div class="ui-g-8">{{selectedMeeting.Description}}</div>

    <div class="ui-g-4">Location: </div>
    <div class="ui-g-8">{{selectedMeeting.Location}}</div>

    <div class="ui-g-4">Capacity: </div>
    <div class="ui-g-8">{{selectedMeeting.Capacity}}</div>

    <div class="ui-g-4">StartsAt: </div>
    <div class="ui-g-8">{{selectedMeeting.StartsAt | date:'MMM d. y. h:mm'}}</div>

    <div class="ui-g-12">Participants: </div>

    <div class="ui-g-12"><button pButton type="button" class="ui-button-warning" label="LEAVE" style="width: 100%"></button></div>
  </div>
</p-dialog>
